<div class="mdl-layout mdl-layout--fixed-header">
    <nav>
        <nav-title>Builds</nav-title>
    </nav>

    <div class="mdl-layout__content">
        <!-- NO BUILDS BLOCK -->
        <div class="mdl-grid" *ngIf="!builds || builds.length == 0">
            <div class="mdl-cell mdl-cell--2-col"></div>
            <div class="mdl-cell mdl-cell--8-col">
                <h5 class="mdl-typography--text-center">
                    No builds yet
                </h5>
            </div>
        </div>

        <!-- BUILD LIST BLOCK -->
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col"></div>
            <div class="mdl-cell mdl-cell--8-col">
                <div class="mdl-list">
                    <div class="mdl-list__item mdl-list__item--three-line" *ngFor="let build of builds">
                        <div class="mdl-list__item-primary-content">
                            <img src="{{build.event.sender.avatar}}" class="mdl-list__item-avatar">
                            <a [routerLink]="['BuildLog', {'host':params.get('host'), 'namespace':params.get('namespace'), 'name': params.get('name'), 'timestamp':build.id,'commit':build.event.id}]">
                                {{build.event.id}}
                            </a>
                            <span class="mdl-list__item-text-body">
                                {{build.fromnow}} by <a href="{{build.event.sender.profile}}" target="_blank">{{build.event.sender.name}}</a>&nbsp;
                                {{build.description}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
