<div class="mdl-layout mdl-layout--fixed-header">
    <navigation class="mdl-layout__header"></navigation>

    <div class="row align-center" *ngIf="!builds || builds.length == 0">
        No builds yet
    </div>
    <div class="row align-center" *ngFor="#build of builds">
        <div class="columns medium-1"></div>
        <div class="columns medium-9">
            <a [routerLink]="['BuildLog', {repo: repo, commit: build.commit}]">
            {{build.commit}}
        </a>
            <br/> {{build.username}}
        </div>
        <div class="columns medium-2">
            status
        </div>
    </div>

</div>
