<div class="mdl-layout">
    <nav>
        <nav-title>
            Build log
        </nav-title>
    </nav>

    <div class="mdl-layout__content">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col"></div>
            <div class="mdl-cell mdl-cell--8-col">
                <h5>{{build.commit}}</h5>
            </div>
        </div>

        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col"></div>
            <div class="mdl-cell mdl-cell--8-col">
                <pre>{{build.log}}</pre>
            </div>
        </div>
    </div>
</div>
