<div class="mdl-cell mdl-cell--2-col">
</div>
<form #jobForm="ngForm" class="mdl-cell mdl-cell--8-col">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <md-input [(ngModel)]="job.repository.clone_url" class="mdl-textfield--floating-label mdl-textfield--full-width" ngControl="clone_url">
                <md-placeholder>Repository clone URL</md-placeholder>
            </md-input>
        </div>
    </div>

    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--9-col">
            <md-input [(ngModel)]="job.executor.image.name" class="mdl-textfield--floating-label mdl-textfield--full-width" ngControl="builder_name">
                <md-placeholder>Builder image name</md-placeholder>
            </md-input>
        </div>

        <div class="mdl-cell mdl-cell--3-col">
            <md-input [(ngModel)]="job.executor.image.tag" class="mdl-textfield--floating-label mdl-textfield--full-width" ngControl="builder_tag">
                <md-placeholder>Builder image tag</md-placeholder>
            </md-input>
        </div>
    </div>

    <div class="mdl-grid" *ngIf="job.executor">
        <div class="mdl-cell mdl-cell--12-col">
            <h5>Additional ENV vars to pass to builder</h5>
        </div>
    </div>

    <div class="mdl-grid" *ngFor="let env of job.executor.env; let idx=index">
        <div class="mdl-cell mdl-cell--6-col">
            <md-input [(ngModel)]="job.executor.env[idx].name" class="mdl-textfield--floating-label mdl-textfield--full-width" ngControl="env_name">
                <md-placeholder>ENV var name</md-placeholder>
            </md-input>
        </div>
        <div class="mdl-cell mdl-cell--6-col">
            <md-input [(ngModel)]="job.executor.env[idx].value" class="mdl-textfield--floating-label mdl-textfield--full-width" ngControl="env_value">
                <md-placeholder>
                    ENV var value
                </md-placeholder>
            </md-input>
        </div>
    </div>

    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <button class="mdl-button mdl-button--raised" (click)="save()">save</button>
            <button class="mdl-button" (click)="addenv()">add env</button>
        </div>
    </div>
</form>
