<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <nav>
        <nav-title>Projects</nav-title>
    </nav>
    <main class="mdl-layout__content">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col"></div>
            <div class="mdl-cell mdl-cell--8-col">
                <div class="mdl-list">
                    <div *ngFor="#job of jobs" class="mdl-list__item mdl-list__item--three-line">
                        <span class="mdl-list__item-primary-content">
                            <span>
                                <a [routerLink]="['BuildList', {repo: job.clone_url}]">{{job.full_name}}</a>
                            </span>
                        <span class="mdl-list__item-text-body">
                                {{job.description}}
                            </span>
                        </span>

                        <span class="mdl-list__item-secondary-content">
                            <button *ngIf="job.enabled == false" class="mdl-button mdl-js-button" (click)="enable(job)">
                                Enable
                            </button>
                            <button *ngIf="job.enabled == true" class="mdl-button mdl-js-button" (click)="disable(job)">
                                Disable
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>
