<!doctype html>
<html data-ng-app="bs" data-ng-strict-di>
    <head>
        <link rel="stylesheet" href="/css/styles.css"/>
    </head>
    <body>

        <script type="text/javascript" src="/js/angular.js"></script>
        <script type="text/javascript" src="/js/blacksmith.module.js"></script>
    </body>
</html>
