<!doctype html>
<html>
  <head>
    <base href="/"/>
    <link rel="stylesheet" href="/css/styles.css"/>
        <script type="text/javascript">
            var bsconfig = {{.BSConfig}}
        </script>
    </head>
    <body>
        <app>Loading...</app>
        <script src="/js/angular2-polyfills.js"></script>
        <script src="/js/bundle.js"></script>
    </body>
</html>
